/* Reset and Basic Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header Styling */
header {
  background-color: #333;
  padding: 10px 20px;
}

/* Navigation Bar Styling */
nav {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a.active {
  background-color: #555;
  color: #fff;
}

nav ul li a:hover {
  background-color: #575757;
  color: #fff;
}

/* Main Content Styling */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}
