<!DOCTYPE html>
<html>
<head>
  <title>Task 1</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <style>
    .move-left {
        position: relative;
        left: -100px; /* Move left by 300px */
    }

    .move-right {
        position: relative;
        right: -100px; /* Move right by 300px */
    }
</style>
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Task 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/task2">Task 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/task3">Task 3</a>
            </li>
          </ul>
        </div>
      </nav>
  <!-- <nav>
      <a href="/">Task 1</a> | <a href="/task2">Task 2</a> | <a href="/task3">Task 3</a>
  </nav> -->
  <main>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="/images/image1.jpg" class="d-block w-100" style="height: 50vh; object-fit: cover;">
          </div>
          <div class="carousel-item">
              <img src="/images/image2.jpg" class="d-block w-100" style="height: 50vh; object-fit: cover;">
          </div>
          <div class="carousel-item">
              <img src="/images/image3.jpg" class="d-block w-100" style="height: 50vh; object-fit: cover;">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
  <div class="container mt-4">
    <div class="row justify-content-center"> <!-- Centers the row horizontally -->
        <div class="col-md-6 d-flex justify-content-center"> <!-- Adjust col size and center card -->
            <div class="card move-left" style="width: 150rem;">
                <div class="card-body">
                    <h5 class="card-title">Web App Information <a href="https://github.com/tanveerrajja/NodeWebApp.git" class="float-right"><img src="/images/github.svg" alt="GitHub Repo" style="width:35px;height:35px;"></a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created as part of Azure Training</h6>
                    <p class="card-text">This app was created using Azure App Services. It makes use of the free-tier provided by Azure.</p>
                    <p class="card-text">Technologies Used:</p>
                    <ul>
                        <li>Azure App Services</li>
                        <li>NodeJS</li>
                        <li>ExpressJS</li>
                        <li>eJS</li>
                        <li>Mssql</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center"> <!-- Adjust col size and center card -->
            <div class="card move-right" style="width: 150rem;">
                <div class="card-body">
                    <h5 class="card-title">Owner</h5>
                    <h6 class="card-subtitle mb-2 text-muted">App created by a MAQ Software employee</h6>
                    <p class="card-text">This app was created by the following employee as part of the Azure Training bootcamp.</p>
                    <table>
                        <tr>
                            <th style="width:150px">Employee ID</th>
                            <td>EMPN1080</td>
                        </tr>
                        <tr>
                            <th style="width:150px">Employee Name</th>
                            <td>Tanveer Rajja</td>
                        </tr>
                        <tr>
                            <th style="width:150px">Role</th>
                            <td>Software Engineer 1</td>
                        </tr>
                        <tr>
                            <th style="width:150px">Links</th>
                            <td>
                                <a href="https://github.com/tanveerrajja/">
                                    <img src="/images/github.svg" alt="SVG Image" style="width:40px;height:40px;">
                                </a>
                                <a href="https://www.linkedin.com/in/tanveerrajja/">
                                    <img src="/images/linkedin.svg" alt="SVG Image" style="width:50px;height:50px;">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>

    
  </main>
</body>
</html>
